@import '_vars';
@import '_global';


// header__start
header{
    background-color: #eef1f3;
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.header__logo{
    img{
        margin-top: -5px;
    }
}
.header__inner-top{
    padding-top: 25px;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.header__content{
    display: flex;
}
.header__account{
    display: flex;
    .header__accounnt-info{
        padding-left: 20px;

        .balance{
            color: blue;
            margin-top: 7px;
        }
    }
}
.button{
    button{
        margin-right: 50px;
        color: white;
        padding: 12px 16px 12px 16px;
        background-color: #0674ec;
        border-radius: 50px;
        border:none;
        cursor: pointer;
        transition: all .7s;

    }
}
.button{
    button:hover{
        margin-right: 50px;
        color: blue;
        padding: 12px 16px 12px 16px;
        background-color: #fff;
        border-radius: 50px;
        border:none;
        cursor: pointer;

    }
}
.header__icons{
    a{
        margin-right: 15px;
    }
}

.header__inner{
    background-color: #fff;
    height: 80px;
    
}
.header__inner-bot{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    
}
.header__menu{
    ul{
        display: flex;
        text-transform: uppercase;
        li + li{
            margin-left: 30px;
        }
    }
}
.header__input{
    // border: 1px solid black;
    display: flex;
    margin-top: -15px;
    border-radius: 15px;

    
    // padding: 4px 7px;
    
    input{
         border: none;
        
         outline: none;
         
         
    }
    .input__picture{
        height: 50px;
        width: 75px;
        background-color: #0674ec;
        border-radius: 50px;
        border: none;
        cursor: pointer;
    }
}

//header__end


//product__start


.product{
    height: 730px;
    background-color: #2649cd;
}
.product__inner{
    padding-top: 170px;
    text-align: center;
    color: #fff;
    h1{
        font-size: 60px;
        font-weight: 700;
        margin-top: -40px;
    }
    h2{
        
        font-size: 60px;
        font-weight: 400;
    }
    p{
        font-size: 20px;
        font-weight: 400;
    }
    .product__buttons{
        padding-bottom: 180px;
        // display: flex;
        button{
        border: 1px solid #fff;
        color: white;
        padding: 12px 16px 12px 16px;
        background-color: #2649cd;
        border-radius: 50px;
        
        cursor: pointer;
        transition: all .7s;
        }
        button:hover{
        // margin-right: 50px;
        color: blue;
        padding: 12px 16px 12px 16px;
        background-color: #fff;
        border-radius: 50px;
        border:none;
        cursor: pointer;
        }
        button + button{
            margin-left: 15px;
        }
    }
}
.product__input{
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    margin: 0 auto;
    width: 1100px;
    background-color: #fff;
    display: flex;
    // justify-content: space-between;
    height: 130px;
    align-items: center;
    input{
        margin-left: 40px;
        width: 620px;
        height: 50px;
        border: 1px solid #dcdcdc;
    }
    button{
    
      height: 50px;
      background-color: #fff;
      cursor: pointer;
      border: 2px solid #dcdcdc;
    }
    .categories{
        margin-right: 20px;
    }
}


.info__inner{
    margin-top: 190px;
    text-align: center;
    display: flex;
    justify-content: space-between;
   
    .info__item{
        height: 400px;
        width: 370px;
        margin-bottom: 120px;
        padding: 0 35px;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        line-height: 25px;
        font-size: 16px;
        h3{
            font-size: 24px;
        }
        img{
            margin-top: 45px;
        }
    }
}
//product__end



//slider__start

.slider{
    background-color: #eff1f5;
    padding-top: 120px;
    padding-bottom: 120px;
    
}


.slider__title{
    padding-left: 25px;
    display: flex;
    align-items: center;
    height: 110px;
    width: 100%;
    background-color: #fff;
    h2{
        font-size: 30px;
        font-weight: 400;
    }
}

.slider__inner{
    margin-top: 50px;
    // display: flex;
    .slider__inner-item{
       
        display: flex !important;
    }
    .left__content{
        background-color: #166edb;
        width: 550px;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        button + button{
            margin-left: 10px;
        }
        button{
            border: 1px solid #fff;
            color: white;
            padding: 12px 30px 12px 30px;
            background-color: #186dda;
            border-radius: 50px;
            
            cursor: pointer;
            transition: all .7s;
            }
            button:hover{
            // margin-right: 50px;
            color: blue;
            padding: 12px 30px 12px 30px;
            background-color: #fff;
            border-radius: 50px;
            border:none;
            cursor: pointer;
            }
    }
    
    .right__content-inner{
        margin-left: 50px;
        margin-right: 50px;
    }
    .right__content{
        width: 600px;
        height: 450px;
        background-color: #fff;
        h3{
            font-size: 24px;
        }
        .author{
            display: flex;
            align-items: center;
            div + div{
                margin-left: 10px;
            }
        }
        .slider__product{
            color: blue;
            display: flex;
            img{
                margin-right: 5px;
            }
        }
        .cart{
            display: flex;
            a{
                margin-left: 5px;
                
            }
            img{
                height: 17px;
            }
        }
        .likes{
            display: flex;
            img{
                height: 17px;
            }
            a{
                margin-left: 5px;
            }
        }
        .slider__dow-info{
            display: flex;
            align-items: center;
            padding-top: 20px;
            border-top: 1px solid #ececec;
            button{
                padding: 8px 16px;
                background-color: #0674ec;
                color: #fff;
                border-radius: 20px;
                border: none;
                cursor: pointer;
            }
            div{
                margin-left: 20px;
            }
        }
        p{
            font-size: 16px;
            line-height: 25px;
            margin-top: 30px;
        }
        .slider__tags{
            display: flex;
            padding: 5px 0 5px;
            a{
                background-color: #f1f3f6;
                color: #868c96;
                font-size: 15px;
                font-weight: 400;
                padding: 7px 12px;
                border-radius: 20px;
                margin: 30px 0 45px;
            }
            a + a{
                margin-left: 5px;
            }
          
        }

    }
}

//slider__end

//shop__start




.shop{
    // height: 1730px;
    padding: 120px 0;
    background-color: #f6f7fb;
}
.shop__inner{
    display: flex;
    flex-wrap: wrap;
}
.shop__title{   
    display: flex;
    justify-content: space-between; 
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);  
    padding-left: 25px;
    display: flex;
    align-items: center;
    height: 110px;
    width: 100%;
    background-color: #fff;
    h2{
        font-size: 30px;
        font-weight: 400;
    }
}
.shop__dow-info{
    display: flex;
}

// .shop__inner-item{
//     width: 360px;
//     height: 530px;
//     .shop__inner-container{
//         padding: 0 30px;
//     }
//     .item__top-content{
//         background-color: #216cd7;
//         height: 330px;
//         .button{
//             display: flex;
//             align-items: center;
//         }
//     }
//     .item__down-content{
//         background-color: #fff;
//         .inner-container{
//             padding: 0 30px;
//         }
//         .slider__product{
//             color: blue;
//             display: flex;
//             img{
//                 margin-right: 5px;
//             }
//         .author{
//             display: flex;
//             align-items: center;
//             div + div{
//                 margin-left: 5px;
//             }
//         }
        
    
// }
// .shop__dow-info{
//     display: flex ;
// }
.shop__product{
    color: blue;
    display: flex;
}
.shop__dow-info{
    display: flex;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid #ececec;
    button{
        padding: 8px 16px;
        background-color: #0674ec;
        color: #fff;
        border-radius: 20px;
        border: none;
        cursor: pointer;
    }
    div{
        margin-left: 10px;
    }
}
.shop__tags{
    margin-top: 35px;
    display: flex;
    justify-content: space-around; 
    align-items: center;  
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);  
    padding-left: 25px;
    height: 110px;
    width: 100%;
    background-color: #fff;
    
    button{
        background-color: #f1f3f6;
        color: #868c96;
        font-size: 15px;
        font-weight: 400;
        padding: 7px 12px;
        border-radius: 20px;
        transition: all .7s;
        border: none;
        cursor: pointer;
    }
    button:hover{
        background-color: #0674ec;
        color: #fff;
    }
    
}
.author{
    display: flex;
}
.shop__inner-item{
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        margin-top: 50px;
        width: 360px;
        height: 450px;
        margin-left: 20px;
        .item__top-content{
            background-color: #2b68d3;
            height: 220px;
            display: flex;
            justify-content: center;
            align-items: center;
        button + button{
            margin-left: 10px;
        }
        button{
            border: 1px solid #fff;
            color: white;
            padding: 12px 30px 12px 30px;
            background-color: #186dda;
            border-radius: 50px;      
            cursor: pointer;
            transition: all .7s;
        }
        button:hover{
            // margin-right: 50px;
            color: blue;
            padding: 12px 30px 12px 30px;
            background-color: #fff;
            border-radius: 50px;
            border:none;
            cursor: pointer;
        }
    }       
        .item__down-content{
            margin-top: -17px;
            background-color: #ffffff; 
            height:  230px;
            h3{
                padding-top: 10px;
            }
           .author{
               display: flex;
               align-items: center;
               line-height: 10px;
               div + div{
                   margin-left: 10px;
               }
               .shop__product{
                   margin-left: 15px;
                   display: flex;
                   align-items: center;
                   img{
                       margin-right: 5px;
                   }
               }
           }
        }
}
.inner-container{
    padding: 0 20px;
}

.shop__btn-new-products{
    width: 200px;
    margin: 0 auto;
    button{ 
    border: 1px solid #fff;
    color: white;
    padding: 12px 30px 12px 30px;
    background-color: #186dda;
    border-radius: 50px;      
    cursor: pointer;
    transition: all .7s;
    margin-top: 60px;
    }
    button:hover{
    color: blue;
    padding: 12px 30px 12px 30px;
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer}
}

//shop__end


//slider__two-start
.slider-two{
    // display: flex;
    // justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #eff1f5;
     .slide-two__inner-item{
        
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        margin-top: 50px;
        width: 400px;
        height: 450px;
        // margin-left:  20px;
        padding: 0 10px;
        .slide-two__top-content{
            background-color: #2b68d3;
            height: 220px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        button + button{
            margin-left: 10px;
        }
        button{
            border: 1px solid #fff;
            color: white;
            padding: 10px 20px 10px 20px;
            background-color: #186dda;
            border-radius: 50px;      
            cursor: pointer;
            transition: all .7s;
        }
        button:hover{
            // margin-right: 50px;
            color: blue;
            padding: 10px 20px 10px 20px;
            background-color: #fff;
            border-radius: 50px;
           
            cursor: pointer;
        }
    }
    .slide-two__down-content{
            margin-top: -17px;
            background-color: #ffffff; 
            height:  230px;
            .shop__dow-info{
                margin-top: -10px;
                .likes{
                    display: flex;
                    img{
                        align-items: center;
                        margin-right: 10px;
                    }
                }
                .cart{
                    display: flex;
                    img{
                        align-items: center;
                        margin-right: 10px;
                    }
                }
            }
            h3{
                padding-top: 10px;
            }
           .author{
               display: flex;
               align-items: center;
               line-height: 10px;
               div + div{
                   margin-left: 10px;
               }
               .shop__product{
                   margin-left: 15px;
                   display: flex;
                   align-items: center;
                   img{
                       margin-right: 5px;
                   }
               }
           }
        }
 
       
     
}

.slider-two__title{
    display: flex;
    justify-content: space-between; 
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);  
    padding-left: 25px;
    display: flex;
    align-items: center;
    height: 110px;
    width: 100%;
    background-color: #fff;
    h2{
        font-size: 30px;
        font-weight: 400;
    }
}


.slider-two-inner{
    display: flex;
    justify-content: space-between;
}


//shop__end


//statistics__start

.statistics{
    background-color: #212225;
    height: 350px;
}

.statistics__inner{
    display: flex;
    justify-content: space-between;


    .statistics__inner-item{
        text-align: center;
        margin-top: 90px;
        
        width: 150px;
        .statistics-photo{
            display: flex;
            align-items: center;
            margin-left: 50px;
            
            height: 40px;
            width: 40px;
        }
        span{
            display: block;
            color: #feb71d;
            font-size: 30px;
            margin-top: 35px;
            margin-bottom: -10px;
        }
        p{
            font-size: 18px;
            color: #fff;
        }
        .cloud-discr{
            color: #58c9e9;
        }
        .smile-discr{
            color: #77de51;
        }
        .user-discr{
            color: #ff6a6d;
        }
    }
}



//statistics__end


//martplace__start

.martplace{
    background-color: $white;
}

.martplace__title{
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    span{
        color: $blue;
    }
}
.martpace__title-discr{
    text-align: center;
    width: 680px;
    margin: 0 auto;
    padding-bottom: 60px;
}
.martplace__inner-item{
    margin-right: 25px;
    width: 360px;
    height: 370px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    .martplace__number{
        font-size: 48px;
        color: #dee7fe;
        margin-left: 20px;
        margin-top: 20px;
    }
    .martplace__photo{
        margin: 0 auto;
        text-align: center;
        margin-bottom: 50px;
        width: 50px;
        height: 50px;
    }
    h3{
        text-align: center;
    }
    p{
        text-align: center;
        line-height: 40px;
    }
}
.martplace__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 120px;
}
//martplace__end

//become__start
.become{
    height: 560px;
    color: $white;
}
.become__inner{
    display: flex;
    h3{
        font-size: 36px;
    }
    .become__photo{
        margin-top: 100px;
        text-align: center;
        margin-bottom: 50px;
    }
    h3{
        text-align: center;
    }
    p{
        text-align: center;
        padding: 0 100px;
        margin-bottom: 50px;
    }
    button + button{
        margin-left: 10px;
    }
    button{
        
        border: 1px solid #fff;
        color: #186dda;
        padding: 12px 30px 12px 30px;
        background-color: $white;
        border-radius: 50px;      
        cursor: pointer;
        transition: all .7s;
    }
    button:hover{
        // margin-right: 50px;
        color: $white;
        padding: 12px 30px 12px 30px;
        background-color: #186dda;
        border-radius: 50px;
        border:none;
        cursor: pointer;
    }
    
}
.become__left-content{
    background-image: url(../img/BG-become.png);
    background-repeat: no-repeat;
    // min-height: 100vh;
    height: 580px;
    background-position: center;
    background-size: cover;
    
}
.become__right-content{
    background-image: url(../img/BG-become2.png);
    background-repeat: no-repeat;
    // height: 100vh;
    height: 580px;

    background-position: center;
    background-size: cover;
    
}
.become__btn{
    text-align: center;
}


//become__end

//feedback__start
.feedback{
    height: 830px;
}
.feedback__inner{
    display: flex;
    justify-content: space-between;
}
.feedback__title{
    text-align: center;
    margin-top: 115px;
    font-size: 36px;
    span{
        color: $blue;
    }
}
.feedback__title-discr{
    text-align: center;
    width: 670px;
    margin: 0 auto;
    margin-bottom: 60px;
    
}
.feedback__inner-item{
    width: 550px;
    height: 350px;
    border-left: 1px solid $blue;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
}

.item__top-info{
    
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item__bot-info{
    padding: 0 35px;
    p{
        line-height: 30px;
    }
}

.user-feedback-info{
    display: flex;
    align-items: center;
    
}
.item__photo-discr{
    margin-left: 20px;
    .item__job{
        margin-top: 5px;
    }
}


.feedback-btn{
    margin-top: 50px;
    text-align: center;
    
    button + button{
        margin-left: 10px;
    }
    button{
        border: 1px solid #fff;
        color: white;
        padding: 10px 20px 10px 20px;
        background-color: #186dda;
        border-radius: 50px;      
        cursor: pointer;
        transition: all .7s;
    }
    button:hover{
        // margin-right: 50px;
        color: blue;
        padding: 10px 20px 10px 20px;
        background-color: #fff;
        border-radius: 50px;
       
        cursor: pointer;
    }
}
//feedback__end


//news__start

.news{
    background-color: #eff1f5;
}

.news__title{
    padding-top: 125px;
    text-align: center;
    font-size: 36px;
    span{
        color: $blue;
    }
}
.news__title-discr{
    text-align: center;
    font-size: 16px;
    width: 670px;
    margin: 0 auto;
}
.news__item-inner{
    padding: 0 25px;
    height: 200px;
    p{
        line-height: 30px;
    }
}
.news__inner{
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
}
.news__inner-item{
    margin-top: 65px;
    background-color: $white;
    width: 360px;
    
}


.news__item-down-content{

    border-top: 1px solid #ececec;
    margin-top: 20px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    
    .news__left-content{
        padding-right: 50px;
        border-right: 1px solid #ececec ;
        display: flex;
        align-items: center;
        img{
            margin-right: 10px;
        }
    }
    .news__right-content{
        display: flex;
        align-items: center;
        
        .commentary{
             margin-right: 5px;
        }
        .coment__span{
            margin-right: 30px;
        }
        .eye{
            margin-right: 5px;
        }
    }
}
//news__end


//garante__start


.garante{
    background-color: $white;
}
.garante__inner{
    display: flex;
    justify-content: space-around;
}


.garante__inner-item {
    padding: 65px 0;
    text-align: center;
    h3{
        font-size: 24px;
        span{
            color: $blue;
        }
    }
}


.first-item{
    padding-right: 130px;
    border-right: 1px solid #e8eaf3;
}

//garante__end

//join__start

.join{
    background-color: #5c2199;
    color: $white;
}

.join__inner{
    text-align: center;
    padding: 100px 0;
    h2{
        font-size: 36px;
    }
    p{
        font-size: 18px;
    }
    button + button{
        margin-left: 10px;
    }
    button{
        
        border: 1px solid #fff;
        color: #186dda;
        padding: 12px 30px 12px 30px;
        background-color: $white;
        border-radius: 50px;      
        cursor: pointer;
        transition: all .7s;
    }
    button:hover{
        // margin-right: 50px;
        color: $white;
        padding: 12px 30px 12px 30px;
        background-color: #2531c6;
        border-radius: 50px;
        
        cursor: pointer;
    }
}

//join__end

//footer__top__start
.footer__top{
    background-color: #262b30;
    color: #88898a;
    h4{
        color: $white;
        font-size: 18px;
    }
}
.footer__main-item{
    min-width: 260px;
}
.footer-input-item{
    min-width: 390px;
}
.telephone{
    display: flex;
    align-items: center;
    img{
        margin-right: 10px;
    }
}
.mail{
    display: flex;
    align-items: center;
    img{
        margin-right: 10px;
    }
}
.geo{
    display: flex;
    align-items: center;
    img{
        margin-right: 10px;
    }
}
.socials{
    display: flex;
    .social-1{
        background-color: #395799;
    }
    .social-2{
        background-color: #19b2f5;
    }
    .social-3{
        background-color: #f05b44;
    }
    .social-4{
        background-color: #9c0c1c;
    }
    .social-5{
        background-color: #0da6be;
    }
    .social-6{
        background-color: #ea4c89;
    }
    a{
        margin-top: 50px;
        margin-right: 20px;
        padding: 10px 10px 10px 15px;
        background-color: black;
        border-radius: 150px;
        width: 50px;
        height: 50px;
        
    }
}
.footer__inner{
    display: flex;
    justify-content: space-around;
    
    padding: 100px 0 100px;
}

.footer__inner-item{
    width: 200px;
    a{
        display: block;
        line-height: 30px;
    }

}

.footer__inner-item + .footer__inner-item{
    margin-left: 70px;
}

.footer-input{
    border: 1px solid white;
    background-color: $white;
    margin-right: 94px;
    margin-left: 10px;
    border-radius: 10px;
    button{
        padding: 10px 15px;
        background-color: #0674ec;
        color: $white;
        border:none;
        border-radius: 20px;
        cursor: pointer;
    }
    input{
        border: none;
        outline: none;
        padding: 10px 0;
    }
}
//footer__top__end




//footer__bot__start

.footer__bot{
    text-align: center;
    background-color: #192027;
    color: #88898a;
    font-size: 15px;
    padding: 20px 0;
    span{
        color: #fff;
    }
}
//footer__bot__end